[submodule "hm-java-crypto"]
	path = hm-java-crypto
	url = git@github.com:highmobility/hm-java-crypto.git
[submodule "hm-java-utils"]
	path = hm-java-utils
	url = git@github.com:highmobility/hm-java-utils.git
[submodule "hm-java-auto-api"]
	path = hm-java-auto-api
	url = git@github.com:highmobility/hm-java-auto-api.git
[submodule "hmkit-core-jni"]
	path = hmkit-core-jni
	url = git@github.com:highmobility/hmkit-core-jni.git
